
# macOS metadata
.DS_Store
**/.DS_Store

# OCR sandbox
sandbox/ocr-poc/node_modules/

# Secrets
keys/
**/.env


/backend/LLM_Score/__*
/backend/LLM_Score/venv/
/backend/LLM_Score/keys.env
/backend/LLM_Score/clients/__*
/backend/LLM_Score/services/__*